@font-face {
    font-family: "Transine";
    src: url("./Transine\ brush.ttf");
}

body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    background-color: white;
}

section {
    background-color: white;
}

.hero {
    background-image: url(./images/background.jpeg);
    object-fit:contain;
    box-shadow: 30px;
    height: 40rem;
    color: white;
    font-size: 40px;
    width: 100%;
}

.FED {
    font-size: 40px;
}

footer {
    background-color: #3f3f53;
    color: white;
    text-align: center;
    padding: 80px;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-family: 'Transine';
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
}

li {
    text-decoration: none;
}

h1 {
    font-family: 'Transine';
    font-size: 110px;
    margin: 0;
}

h2 {
    font-size: 70px;
    font-family: 'Transine';
}

h3 {
    font-size: 60px;
    margin: 0;
    margin-top: 20px;
    font-family: 'Transine';
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 100;
}

.sub-text {
    font-size: 15px;
    font-weight: 300;
    padding: 5px;
}

.hero-area {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}


.socials {
    flex-direction: column;
    display: flex;
    padding-bottom: 200px;
}

.social {
    margin: .2rem 0;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alt {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.headshot {
    width: 300px;
    border-radius: 150px;
}

.headshot-container {
    display: flex;
    align-items: center;
}

.project-card {
    width: 300px;
    height: 400px;
    box-shadow: 5px 5px 20px rgb(224, 221, 221);
    margin: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-image {
    margin-top: 35px;
    width: 280px;
    border-radius: 125px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: rgb(68,97,113);
    font-weight: 300;
}

a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
}

.hamburger:focus {
    outline: 0;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


@media only screen and (max-width: 800px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    .socials {
        display: none
    }

    .hero {
        padding: 0;
        background-image: url(./images/background\ small.jpeg);
        height: 22rem;
    }

    .hero-area {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        height: 10rem;
    }

    .hero-text {
        margin-top: 60px;
        margin-left: 10px;
    }

    ul.show {
        display: contents;
    }

    ul {
        display: none;
        margin: 0px;
    }

    li {
        margin: 5px 0;
        margin-left: 10px;
        font-size: 30px;
    }
    
    nav {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 15px;
    }

    p {
        font-size: 15px;
    }

    .FED {
        font-size: 20px;
        font-weight: 300;
    }

    .sub-section {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 10px;
    }
    
    .headshot-container {
        margin-top: 20px;
    }

    .sub-section-alt {
        padding: 0;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    
    .project-container {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    footer {
        padding: 0;
    }
}

@media only screen and (max-width: 320px) {
    body, html {
        margin: 0;
        padding: 0;

    }
    
    nav {
        width: 100%;
    }

    main {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .hero {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    section {
        display: flex;
        flex: 1;
    }

    .hero-area {
        display: flex;
        flex-wrap: wrap;
    }

    .hero-text {
        margin: 0;
    }

    .sub-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: center;
        padding: 0;
    }

    .sub-section-alt {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .headshot-container {
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }

    footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

}